body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    font-size: 40px;
    overflow-x:hidden;
    background-color: beige;
    margin: 0;
    padding: 0;
}
.botonera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    overflow-x: scroll;
    position: sticky;
    top: 0;
    background-color: burlywood;
}
.boton, .botonEjercicio{
    width: auto;
    font-size: 0.6em;
}
.main-div{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    margin-left: 1%;
}
input{
    font-size: 0.7em;
}
.oculto{
    display: none;
}
.mostrado{
    display: flex;
    flex-direction: column;
}
.lineaCheckbox{
    display: flex;
}
.select{
    font-size: 0.7em;
}
.footer-div{
    display: flex;
    justify-content:space-around ;
    justify-self: flex-end;
    align-self: flex-end;
    align-items: center;
    height: 3%;
    width: 100%;
    background-color: aquamarine;
    font-size: 0.5em;
}